<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.tjoydoor">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"/>

    <application
        android:name="com.tjoydoor.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.tjoydoor.main.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 网络广播 -->
        <receiver android:name=".receiver.NetworkStateReceiver"/>

        <!-- 人脸识别 -->
        <service android:name="cn.thinkjoy.sdk.b.b"/>

        <meta-data
            android:name="THINK_JOY_KEY"
            android:value="aef16519dd4e4ae69ab0e54b687b20fc"/>
        <meta-data
            android:name="THINK_JOY_SECRET"
            android:value="e290abdb68cf81a5ec8754bbb3cfe819a52aecd5"/>

        <activity
            android:name="com.tjoydoor.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tjoydoor.main.MainPhone_LActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.tjoydoor.main.MainPhone_PActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tjoydoor.main.MainPhone_Age_LActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.tjoydoor.main.PersonManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tjoydoor.main.PersonInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tjoydoor.main.AddPersonInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tjoydoor.main.AddFaceDymicActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tjoydoor.main.ConfigActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tjoydoor.main.MainJiaDu_PActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.tjoydoor.main.MainJiaDu_LActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
        <activity android:name=".main.HWDActivity"/>
        <activity
            android:name="com.tjoydoor.main.MainPhone_Detect_LActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.tjoydoor.main.MainPhone_MutiFaceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
    </application>

</manifest>